Package: cc.cuulstar.sileo
Section: Packaging
Maintainer: CoolStar <coolstarorganization@gmail.com>
Architecture: iphoneos-arm
Version: 0.8b2
SileoDepiction: https://coolstar.moe/sileoassets/depictionoverride.php?package=org.coolstar.sileo
Depends: apt7 (>= 1.7.0), apt7-lib (>= 1.7.0-sileo), apt7-key (>= 1.7.0), dpkg (>= 1.18.11), cydia (>= 1.1.32~b1), cy+cpu.arm64
Conflicts: cydia-gui (<= 1.1.30-3)
Pre-Depends: debianutils, dpkg (>= 1.14.25-8)
Description: A proper APT client for iOS 11 and higher. (View this package in Sileo to see the full depiction)
Name: Sileo (Beta)
Author: Sileo Team <getsileoapp@gmail.com>
