Package: com.diatrus.sileo-installer
Name: Sileo for unc0ver
Depends: curl
Version: 0.4
Architecture: iphoneos-arm
Description: Safely install official Sileo on unc0ver. Run the command "installsileo" over ssh or MTerminal to install.
Maintainer: Diatrus
Author: Diatrus
Section: Utilities
Conflicts: com.pixelomer.u0sileo.backend, com.pixelomer.u0sileo, com.samgisaninja.sillyo-installer, com.samgisaninja.sillyo
